@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "poppins", sans-serif;
}
:root {
  --gold: #d59345;
  --title: "Libre Baskerville", serif;
  --green: #0b4757;
}
body {
  background: #f3eada;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}
[class*="grid"] {
  display: grid;
}
header {
  background: white;
  margin-bottom: 5rem;
  box-shadow: #959da533 0px 8px 24px;
}
button {
  cursor: pointer;
}
.logo {
  width: 12rem;
  padding: 1rem 0;
}
.grid-3 {
  grid-template-columns: 1.1fr 1.2fr 1.05fr;
}
.product {
  position: relative;
  top: -11rem;
}
.icon {
  position: absolute;
  width: 10rem;
  top: -5rem;
  left: 0;
  rotate: -45deg;
}
.title,
.title span {
  font-family: var(--title);
  font-size: 4.5rem;
  font-weight: 100;
  color: var(--gold);
}
.title {
  line-height: 7rem;
}
.title span {
  position: relative;
}
.title span:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1rem;
  height: 2rem;
  background: url(images/shape.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.typo {
  margin-bottom: 2rem;
}
.typo h3 {
  font-size: 2rem;
  color: var(--green);
  font-weight: 700;
}
.typo p {
  font-size: 1.6rem;
  color: var(--green);
  font-weight: 600;
}
.des {
  color: #000000d7;
  font-size: 1.4rem;
}
.des b {
  display: block;
  font-weight: 600;
  color: var(--green);
  font-size: 1.6rem;
  padding-top: 2rem;
}
.items {
  margin-top: 3rem;
}
.item {
  display: flex;
  margin-bottom: 2rem;
  gap: 5px;
}
.item i {
  font-size: 2rem;
  color: var(--green);
}
.item p {
  font-size: 1.4rem;
  font-weight: 600;
}
.content {
  padding-left: 1rem;
}
.ribon {
  background: var(--gold);
  height: 8rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  left: 100%;
  width: 100%;
  clip-path: polygon(0 0, 93% 0, 100% 50%, 93% 100%, 0 100%, 0% 50%);
}
.ribon h2 {
  font-family: "Oswald", sans-serif;
  color: white;
  padding-left: 2rem;
  font-size: 2.2rem;
  font-weight: 500;
}
.form-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: white;
  background: var(--gold);
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

form {
  background: white;
  padding-bottom: 2rem;
}
input {
  height: 5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 0 2rem;
  background: #f5f5f5;
  font-size: 1.6rem;
}
.filds {
  padding: 2rem;
}
.submit {
  background: var(--green);
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  color: white;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
}
.logos {
  margin-top: 3rem;
}
.brand {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.logos h3 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: var(--green);
  margin-bottom: 2rem;
}
footer {
  padding: 5rem 0;
  background: white;
}
.grid-2 {
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}
.pure {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
  align-items: center;
}
.pure h2 {
  color: var(--green);
  font-size: 2rem;
}
.pure .des {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--green);
}

.dd {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 10rem;
  left: 0;
  width: 100%;
  text-align: center;
  background: var(--green);
  font-weight: 500;
  padding: 1rem 0;
}
.logos-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
}

.logos-3 .logo-withname img {
  display: block;
  width: 50%;
  margin: auto;
}

.logos-3 h2 {
  font-size: 1.5rem;
  color: var(--green);
  font-weight: 600;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  html {
    font-size: 43%;
  }
  .container {
    padding: 0 2rem;
  }
}
@media (max-width: 820px) {
  html {
    font-size: 60%;
  }
  .container {
    padding: 0 1rem;
  }
  [class*="grid"],
  .pure {
    grid-template-columns: 1fr;
  }
  .ribon {
    bottom: -8rem;
    left: 0;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  }
  section {
    padding: 10rem 0;
    padding-top: 2rem;
  }
  .grid-3,
  .grid-2 {
    gap: 5rem;
  }
  .item p {
    font-size: 1.6rem;
  }
  .item i {
    font-size: 2.3rem;
  }
  .pure {
    text-align: center;
  }
  .pure img {
    width: 10rem;
    margin: auto;
  }
  .txt h2 {
    font-size: 1.8rem;
  }
  .txt .des {
    font-size: 1.5rem;
  }
  .fix {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .ribon h2 {
    padding-left: unset;
    text-align: center;
    width: 100%;
    margin-top: -1rem;
  }
}
